*.pyc
.cache
compile_commands.json

# Environments
.venv
venv/
venv.bak/

# VS Code project files
.vscode
.vs

# JetBrains project files
.idea
cmake-build-*

# Docs
docs/_build/
docs/python-api/generated/
docs/dialects/
docs/getting-started/tutorials
docs/sg_execution_times.rst
!python/tutorials/*.py
!python/tutorials/*.rst

# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
/compile_commands.json
.vscode
.vs

# Vim
*.swp

# Third-party include
third_part