[submodule "triton"]
	path = triton
	url = https://github.com/triton-lang/triton.git
	commit = c75c6b034756629b891e7b2df406f634552331d5
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	commit = c118864223c6309378cd704f3406533474c2759f
